<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    coverFlower: "<%=image_path('cover_flower.jpg')%>",
    cameraIcon: "<%=image_path('camera-icon.png')%>",
    searchIcon: "<%=image_path('search-icon.png')%>",
    heartIcon: "<%=image_path('heart-icon.png')%>",
    personIcon: "<%=image_path('person-icon.png')%>",
    uploadIcon: "<%=image_path('upload-icon.png')%>",
    pipeIcon: "<%=image_path('pipe-icon.png')%>",
    flowerIcon: "<%=image_path('flowerIcon.png')%>",
    speechBubbleIcon: "<%=image_path('speechBubbleIcon.png')%>",
    redHeart: "<%=image_path('redHeart.png')%>",
  }
</script>


<div id="root"></div>
